pyramid
pyramid_mailer
pyramid_signup
pyramid_deform
pyramid_beaker
pyramid_jinja2
pyramid_tm
pyramid_debugtoolbar
pyramid_webassets
pyramid_socketio
simplejson
redis

zope.sqlalchemy
SQLAlchemy
transaction
gunicorn
pycco

deform
webassets
pystache
colander
pytz
cryptacular

-e git+https://github.com/sontek/deform_jinja2.git#egg=deform_jinja2
-e git+https://github.com/abourget/gevent-socketio.git#egg=gevent_socketio
-e git+https://github.com/abourget/gevent-websocket.git#egg=gevent_websocket
